body{
    padding: 5px;
    margin: 20px;
}
h1{
    size: 50px;
}

.logs {
    border: 4px solid;
    border-radius: 5px;
    padding: 10px;
}

#console{
    list-style-type: none;
    margin: 20;
    padding: 0;
    height: 100vh;
    overflow: scroll;
}

p {
    padding-left: 10px;
    font-size: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 1em;
    margin-right: 0;
    font-weight: bold;
}

/* .logs ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    height: 100vh;
    overflow: scroll;
} */

.accepted-call{
    color: green;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 4px;

}

.missed-call{
    color: red;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 4px;

}

h1{
    text-align:center;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
}


li {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

button {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}