.logs {
    border: 1px solid;
    padding: 10px;
}

.logs ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    height: 500px;
    overflow: scroll;
}

p {
    padding-left: 10px;

}

li {
    border: 1px solid;
    margin-bottom: 5px;
}

pre {
    margin: 5px;
    padding: 5px;
}

button {
    margin-left: 1px;

}